<template name="index">
	<div class="page index">
		<div class="align-y">
			<div class="content-padded">
				<p class="text-center">How would you like to sign in?</p>

				<div class="sign-in-buttons">
					<a href="#" class="sign-in sign-in-facebook ratio">
						<i class="ion ion-social-facebook"></i>
					</a>

					<a href="#" class="sign-in sign-in-twitter ratio">
						<i class="ion ion-social-twitter"></i>
					</a>

					<a href="#" class="sign-in sign-in-email ratio">
						<i class="ion ion-at"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>
