<template name="index">
	<div class="page index">
		<div class="align-y">
			<div class="content-padded">

				<div class="sign-in-buttons">
					<a href="#" class="sign-in sign-in-facebook ratio">
						<i class="ion ion-social-facebook"></i>
					</a>

					<a href="#" class="sign-in sign-in-twitter ratio">
						<i class="ion ion-social-twitter"></i>
					</a>
				</div>

				<form class="form-sign-in">
					<div class="input-container">
						<input type="text" placeholder="Username" />
					</div>
					<div class="input-container">
						<input type="password" placeholder="Password" />
						<a href="#" class="input-something">Forgot?</a>
					</div>
				</form>
				<p class="text-center">How would you like to sign in?</p>

				<button type="button" class="test-camera">CAMERA</button>
			</div>
		</div>
	</div>
</template>
