/**
 * Colors
 */
// $white: #F0E9E5;
$white: #FAFAFA;
$gray: #E5E5E5;

$black: #46433A;

$primary-color: #5B8C7F; // Green
$secondary-color: #AF4C4A; // Red
$tertiary-color: #46433A; // Brown

$facebook-color: #3b5998;
$twitter-color: #55acee;

$font-family-ios: 'Helvetica Neue', Helvetica, sans-serif;
$font-family-android: 'RobotoRegular', 'Droid Sans', sans-serif;

/**
 * Spacing
 */
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: ($spacing-xs * 2); // 16px
$spacing-md: ($spacing-xs * 3); // 24px
$spacing-lg: ($spacing-xs * 6); // 48px
$spacing-xl: ($spacing-xs * 7); // 56px
$spacing-xxl: ($spacing-xs * 8); // 64px
$spacing-xxxl: ($spacing-xs * 9); // 72px
$spacing-sm: 16px;

/**
 * Layout
 */
$base-background-color: $white;

/**
 * Typography
 */
$base-font-family: $font-family-ios;
$heading-font-family: $base-font-family;
$base-font-size: 1em;
$base-line-height: 1.5;
$heading-line-height: 1.2;
$base-font-color: $black;
$action-color: $primary-color;

/**
 * Dimensions
 */
$base-height: 40px;

/**
 * Other sizes
 */
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 6;
$base-z-index: 0;

/**
 * Borders
 */
$base-border-radius: 0;
$base-border-color: $gray;
$base-border: 1px solid $base-border-color;

/**
 * Forms
 */
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$base-input-height: $base-height;
$input-group-padding: 55px;

/**
 * Header
 */
$header-height: $spacing-xl;

/**
 * Navigation
 */
$nav-height: $spacing-lg;


/**
 * Neat
 */
$gutter: $spacing-sm;

/**
 * Animation
 */
$duration-slide: 0.5s;
$timing-function: cubic-bezier(0.10, 0.70, 0.10, 1);
