// Colors
// $white: #F0E9E5;
$white: #F9F9F9;
$gray: darken($white, 20%);

$black: #46433A;

$primary-color: #5B8C7F; // Green
$secondary-color: #AF4C4A; // Red
$tertiary-color: #46433A; // Brown

$facebook-color: #3b5998;
$twitter-color: #55acee;

$font-family-ios: 'Helvetica Neue', Helvetica, sans-serif;
$font-family-android: 'RobotoRegular', 'Droid Sans', sans-serif;

// Typography
$base-font-family: $font-family-ios;
$heading-font-family: $base-font-family;

// Dimensions
$base-height: 40px;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Font Colors
$base-background-color: $white;
$base-font-color: $black;
$action-color: $secondary-color;

// Border
$base-border-color: $gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$base-input-height: $base-height;

$input-group-padding: 55px;

/**
 * Header
 */
$header-height: 44px;

/**
 * Padding
 */
$base-padding: 16px;

/**
 * Neat
 */
$gutter: 15px;
