/**
 * Header styles
 */
.header {
	background: $white;
	position: fixed;
	top: 0;
	height: $header-height;
	width: 100%;
	z-index: 200;
	border-bottom: $base-border;

	&.nav {
		height: $header-height + $nav-height;
	}

	.svg {
		&.logo--sm {
			position: relative;
			height: $header-height - ($spacing-sm * 2);
			top: $spacing-sm;
		}
	}

	.header__logo,
	.header__title,
	.header__nav {
		height: $header-height;
	}

	.header__logo {
		padding: 0 $spacing-sm 0 0;
		display: inline-block;

		&:active {
			background: rgba($black, 0.1);
		}
	}

	.header__title {
		line-height: $header-height;
		margin: 0;
		display: inline-block;
		font-size: 1.75em;
	}

	.header__icon {
		font-size: 1.5em;
		display: block;
		float: left;
		height: $header-height;
		line-height: $header-height;
		color: $tertiary-color;
		padding: 0;
		width: $header-height;
		text-align: center;

		&:active {
			background: rgba($black, 0.1);
			color: darken($tertiary-color, 10%);
		}

		&:last-child {
			width: auto;
			padding: 0 $spacing-sm;
		}
	}

	.header__nav {
		float: right;
		line-height: $header-height;
		position: relative;
	}

	.header__menu {
		@include transition(all 0.2s ease-in-out);
		@include transform(scale3d(0, 0, 1));
		@include transform-origin(top right);
		@include card(3);
		position: absolute;
		top: $spacing-sm;
		right: $spacing-sm;
		background: white;
		width: 300px;

		&.header__menu--visible {
			@include transform(scale3d(1, 1, 1));
		}
	}

	.nav {
		height: $nav-height;

		a {
			@include span-columns(4, "block-collapse");
			text-align: center;
			height: $nav-height;
			line-height: $nav-height;
			color: $tertiary-color;
			text-transform: lowercase;

			&.active {
				color: $secondary-color;
				border-bottom: $spacing-xxs solid $secondary-color;
			}

			&:active {
				background: rgba($black, 0.1);
			}
		}

	}

}
