<template name="accountChangePassword">
	<div class="page account change-password">

		<form class="form form--edit-profile" novalidate>
			<div class="form__group">
				<input type="password" name="currentPassword" class="form__group__input" placeholder="Current Password" />
			</div>
			<div class="form__group">
				<input type="password" name="newPassword" class="form__group__input" placeholder="New Password" />
			</div>

			<div class="padding">
				<button type="submit" class="btn btn-block btn-primary">
					Update Password
				</button>
			</div>
		</form>

	</div>
</template>
