<template name="accountIndex">
	<div class="page account index">

		<div class="ratio ratio--16-9 ratio--bg">
			<div class="ratio__content padding--x">
				Profile stuff here
			</div>
		</div>

		<form class="form form--edit-profile" novalidate>
			<div class="form__group">
				<input type="text" name="username" class="form__group__input" placeholder="Username" />
			</div>
			<div class="form__group">
				<textarea name="bio" class="form__group__textarea" placeholder="Bio" rows="4"></textarea>
			</div>
			<div class="form__group">
				<input type="email" name="email" class="form__group__input" placeholder="Email" />
			</div>
			<button type="submit" class="btn btn-block btn-primary">HERE</button>
		</form>
		<p class="text-center padding">
			<a href="#" class="btn btn-primary btn-block btn--change-password">Change Password</a>
			<a href="#" class="btn btn-gray btn-block btn--sign-out">Sign Out</a>
			<a href="#" class="btn btn-secondary btn-block btn--deactivate">Deactivate</a>
		</p>
	</div>
</template>
