<template name="accountIndex">
	<div class="page account index">

		<div class="ratio ratio--16-9 ratio--bg">
			<div class="ratio__content padding--x">
				Profile stuff here
			</div>
		</div>
		<form class="form form--edit-profile" novalidate>
			<div class="form__group">
				<input type="text" name="name" class="form__group__input" placeholder="Name" value="{{name}}"/>
			</div>
			<div class="form__group form__group--textarea">
				<textarea name="bio" class="form__group__textarea" placeholder="Bio" rows="4">{{bio}}</textarea>
			</div>
			<div class="form__group">
				<input type="email" name="email" class="form__group__input" placeholder="Email" value="{{email}}"/>
			</div>

			<div class="padding">
				<button type="submit" class="btn btn-block btn-primary">
					Update Profile
				</button>
			</div>
		</form>

		{{> componentToggleBlock trigger="account-index-details" name="advanced options"}}

		<div class="toggle-block__container">
			<div class="toggle-block__content">
				<p class="text-center padding">
					<a href="{{pathFor 'accountChangePassword'}}" class="btn btn-primary btn-block"  data-trigger="change-password">Change Password</a>
					<a href="#" class="btn btn-gray btn-block" data-trigger="sign-out">Sign Out</a>
					<a href="#" class="btn btn-secondary btn-block"  data-trigger="deactivate-account">Deactivate</a>
				</p>
			</div>
		</div>
	</div>
</template>
