<template name="accountResetPassword">
	<div class="page account reset-password">
		<div class="ratio ratio--16-9 ratio--bg">
			<div class="ratio__content padding--x">
				{{> svgLogo}}
			</div>
		</div>
		<div class="padding">
			So you forgot your password... that's okay. Let's go ahead and get you a new one.

			<form class="form form--edit-profile" novalidate>
				<div class="form__group">
					<input type="password" name="password" class="form__group__input" placeholder="New Password" />
				</div>
				<button type="submit" class="btn btn-block btn-primary">Change Password</button>
			</form>
		</div>
	</div>
</template>
