<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>rather</title>
	<meta name="description" content="">

	<!-- Sets initial viewport load and disables zooming  -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Make iOS not autolink 10 digit numbers -->
	<meta name="format-detection" content="telephone=no">
</head>

<body>

</body>
