<template name="layoutHeader">
	<header class="header">

		{{#if btnBack}}
			<a href="{{pathFor btnBack}}" class="header___back">
				<i class="ion ion-chevron-left"></i>

				{{> svgLogoSm}}
			</a>
		{{else}}
			{{> svgLogoSm}}
		{{/if}}

		{{#if currentUser}}
			<div class="header-user">
				<a href="{{pathFor 'account'}}" class="btn">
					<i class="ion ion-person"></i>
				</a>
			</div>

			<div class="header-filter">
				<button class="btn hide-completed {{#if hideCompleted}}active{{/if}}">
					{{incompleteCount}}
					<i class="ion ion-funnel"></i>
				</button>
			</div>
		{{/if}}
	</header>
</template>
