/**
 * Index styles
 */
.page.index {

	.sign-in {
		@include span-columns(6);
		color: $white;
		font-size: 2.5em;
		text-align: center;

		&.sign-in--facebook {
			background: $facebook-color;
		}

		&.sign-in--twitter {
			background: $twitter-color;
		}
	}

	.form--sign-in {
		button {
			display: none;
		}
	}
}
