/**
 * Svg fills
 */
.fill-primary {
	fill: $primary-color;
}
.fill-secondary {
	fill: $secondary-color;
}
.fill-tertiary {
	fill: $tertiary-color;
}


/**
 * Text colors
 */
.text-primary {
	color: $primary-color;
}

.text-secondary {
	color: $secondary-color;
}

.text-tertiary {
	color: $tertiary-color;
}

/**
 * Background colors
 */
.bg-gray {
	background-color: $gray;
}