/**
 * Svg fills
 */
.fill--primary {
	fill: $primary-color;
}
.fill--secondary {
	fill: $secondary-color;
}
.fill--tertiarytertiary {
	fill: $tertiary-color;
}


/**
 * Text colors
 */
.text--primary {
	color: $primary-color;

	&:active {
		color: darken($primary-color, 20%)
	}
}

.text--secondary {
	color: $secondary-color;

	&:active {
		color: darken($secondary-color, 20%)
	}
}

.text--tertiary {
	color: $tertiary-color;

	&:active {
		color: darken($tertiary-color, 20%)
	}
}

/**
 * Background colors
 */
.bg--gray {
	background-color: $gray;
}
