.container {
	.header + & {
		padding-top: $header-height;
	}
}

.padding {
	position: relative;
	padding: $base-padding;
}

.padding---x {
	padding-left: $base-padding;
	padding-right: $base-padding;
}
