.main {
	.header + & {
		padding-top: $header-height;
	}

	.nav + & {
		padding-top: ($header-height + $nav-height);
	}
}

.padding {
	position: relative;
	padding: $spacing-sm;
}

.padding---x {
	padding-left: $spacing-sm;
	padding-right: $spacing-sm;
}
