/**
 * Form elements
 */
.form__group {
	position: relative;
	border-top: $base-border;
	padding-left: $spacing-sm;
	padding-right: $spacing-sm;
	min-height: $base-input-height;
	text-transform: lowercase;
	width: 100%;
	@include display(flex);
	@include align-items(center);

	&:first-of-type {
		border-top: 0;
	}

	[class*="padding"] & {
		padding-left: 0;
		padding-right: 0;
	}

	a {
		height: $base-input-height;
		line-height: $base-input-height;
	}

	.form__group__addon {
		white-space: nowrap;
		width: auto;
		text-align: center;

		&:first-child {
			text-align: left;
		}
		&:last-child {
			text-align: right;
		}
	}

	.form__group__input, .form__group__text {
		width: 100%;
	}

	.form__group__textarea {
		padding-top: $spacing-xs;
		padding-bottom: $spacing-xs;
	}

	.form__group__select {
		height: $base-input-height;
		line-height: $base-input-height;
		width: 100%;
		font-size: $base-font-size;
		text-transform: lowercase;
		padding: 0;
		background: transparent;
	}
	&.form__group--collapsible {
		@include transition(height 0.2s ease-in-out, opacity 0.2s ease-in-out);
		@include transform(translateZ(0));
		display: block;
		height: $base-input-height;
		overflow: hidden;

		&[data-disabled="true"] {
			height: 0;
			opacity: 0;
		}
	}

	.form__group__toggle {
		width: auto;

		input[type="checkbox"] {
			display: none;

			+ label {
				background: $gray;
				border-radius: 2em;
				padding: 2px;
				transition: all .4s ease;
				outline: 0;
				display: block;
				width: 4em;
				height: 2em;
				position: relative;
				cursor: pointer;
				user-select: none;

				&:after {
					@include transition(all 0.2s ease-in-out);
					border-radius: 50%;
					background: $white;
					left: 0;
					position: relative;
					display: block;
					content: '';
					width: 50%;
					height: 100%;
				}
			}

			&:checked {
				+ label {
					background: $primary-color;

					&:after {
						left: 50%;
					}
				}
			}
		}
	}
}
