/**
 * Form elements
 */
.form__group {
	position: relative;
	display: table;
	border-top: $base-border;
	padding-left: $spacing-sm;
	padding-right: $spacing-sm;
	text-transform: lowercase;
	width: 100%;

	&:first-of-type {
		border-top: 0;
	}

	[class*="padding"] & {
		padding-left: 0;
		padding-right: 0;
	}

	a {
		height: $base-input-height;
		line-height: $base-input-height;
	}

	.form__group__addon {
		display: table-cell;
		text-align: center;

		&:first-child {
			text-align: left;
		}
		&:last-child {
			text-align: right;
		}
	}

	.form__group__input  {
		display: table-cell;
		width: 100%;
	}

	.form__group__textarea {
		padding-top: $spacing-xs;
		padding-bottom: $spacing-xs;
	}

	&.form__group--collapsible {
		@include transition(height 0.2s ease-in-out, opacity 0.2s ease-in-out);
		@include transform(translateZ(0));
		display: block;
		height: $base-input-height;
		overflow: hidden;
	}
	&.form__group--collapsed {
		height: 0;
		opacity: 0;
	}
}
