/**
 * Typography styles
 */
.divider {
	position: relative;
	text-align: center;
	z-index: 5;
	line-height: $spacing-md;
	z-index: 20;

	span {
		position: relative;
		background: $base-background-color;
		display: inline-block;
		width: $spacing-md;
		height: $spacing-md;
		border-radius: 50%;
		z-index: 5;
	}

	&:before {
		border-top: $base-border;
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%
	}

	&.divider--bottom {
		margin-bottom: -($spacing-md / 2);
	}
}
