<template name="infoTermsOfService">
	<div class="page terms-of-service">
		<div class="padding">
			<h1>Terms of service</h1>
			<p>Nunc lobortis elit sit amet consequat aliquet. Proin iaculis dolor eget pellentesque vehicula. Vestibulum tincidunt pellentesque nisl, non ultrices nunc volutpat a. Nulla quis dignissim nunc. Nam volutpat, tellus ut sodales pellentesque, massa tortor dictum tortor, a placerat elit nisi in massa. Etiam pharetra maximus magna, eu congue metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a sapien ultrices, sollicitudin metus sit amet, convallis dolor. Phasellus dignissim lacinia dui sed vehicula. Vestibulum et tincidunt purus. Vivamus id sodales dolor.</p>

			<p>Maecenas consectetur non libero quis tempus. Proin sed metus tristique, aliquam sem in, scelerisque nunc. Morbi maximus tempor dolor, scelerisque aliquet ex tincidunt quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam et sem eu nunc suscipit pretium. Vestibulum eget augue rutrum, convallis odio vitae, ullamcorper diam. Nam at lorem vitae mauris malesuada venenatis. Vestibulum aliquet sollicitudin molestie. Quisque quis nibh ultricies, imperdiet augue quis, iaculis quam. Donec metus nunc, pretium ut mollis volutpat, rutrum ut libero.</p>
		</div>
	</div>
</template>