<template name="header">
	<header class="header">

		<a href="#" class="header___icon header---nav-left-toggle">
			{{#if btnBack}}
				<i class="ion ion-chevron-left"></i>
			{{else}}
				<i class="ion ion-android-menu"></i>
			{{/if}}
		</a>

		<a href="{{#if btnBack}}{{pathFor btnBack}}{{else}}{{pathFor "index"}}{{/if}}" class="header___logo">
			{{> svgLogoSm}}
		</a>

		{{#if currentUser}}
			<div class="header___nav">
				<a href="#" class="header___icon header---search">
					<i class="ion ion-search"></i>
				</a>
				<a href="#" class="header___icon header---nav-right-toggle">
					<i class="ion ion-android-more-vertical"></i>
				</a>
			</div>

			<div class="header___nav-right {{#if navRightVisible}}header___nav-right---visible{{/if}}">
				<ul class="list">
					<li class="list___item list___item---link">
						<a href="{{pathFor "infoFeedBack"}}">Feedback</a>
					</li>
					<li class="list___item list___item---link">
						<a href="{{pathFor "infoHelp"}}">Help</a>
					</li>
				</ul>
			</div>
		{{/if}}

	</header>
</template>
