<template name="partialTask">
	<!-- add right below the code for the checkbox in the task template -->

	<!-- modify the li tag to have the private class if the item is private -->
	<li class="task {{#if checked}}checked{{/if}} {{#if private}}private{{/if}} {{#if isOwner}}owner{{/if}}">
		<span class="btn task-complete {{#if checked}}active{{/if}}">
			<i class="ion {{#if checked}}ion-android-checkbox{{else}}ion-android-checkbox-blank{{/if}}"></i>
		</span>

		<div class="task-text">
			{{text}}

			<div class="task-meta">
				created by: {{username}}

			</div>
		</div>

		{{#if isOwner}}
			<div class="task-controls">
				<span class="btn task-delete">
					<i class="ion ion-android-close"></i>
				</span>
				<span class="btn task-private {{#if private}}active{{/if}}">
					<i class="ion {{#if private}}ion-android-lock{{else}}ion-android-unlock{{/if}}"></i>
				</span>
			</div>
		{{/if}}
	</li>
</template>
