/**
 * Section block styles
 */
.section-block {
	position: relative;
	@include display(flex);
	@include align-items(center);
	height: $base-height;
	overflow: hidden;

	.section-block__bar {
		position: relative;
		width: 100%;
		&:before {
			position: absolute;
			content: '';
			width: 100%;
			border-bottom: $base-border;
			top: 50%;
		}
	}

	&.active {
		.section-block__btn {
			i {
				@include transform(rotate(180deg));
			}
		}
	}

	.section-block__btn,
	.section-block__text {
		@include flex(0 0 auto);
		width: auto;
		white-space: nowrap;
		text-transform: lowercase;

		span {
			padding-right: $spacing-sm;
			padding-left: $spacing-sm;
		}
	}
	.section-block__btn {
		font-size: 1em;
		color: $tertiary-color;
		padding: $spacing-xs 0;

		span {
			padding-right: ($spacing-md * 1.25);
		}

		i {
			@include transition(all 0.2s ease-in-out);
			position: absolute;
			right: 0;
			top: 0;
			font-size: 1.5em;
			height: $base-height;
			line-height: $base-height;
			width: $base-height;
		}
	}

	+ .section-block-toggle__container {
		@include transition(height $duration-slide $timing-function);
		height: 0;
		overflow: hidden;
	}
}
