/**
 * Header navigation
 */
.nav {
	height: $nav-height;

	&.nav---header {
		border-top: $base-border;
		position: fixed;
		top: $header-height;
		width: 100%;

		a {
			@include span-columns(4, "block-collapse");
			text-align: center;
			height: $nav-height;
			line-height: $nav-height;
			color: $tertiary-color;
			text-transform: lowercase;

			&:active {
				color: $secondary-color;
				background: rgba($black, 0.1);
			}
		}
	}

}
