/**
 * Header styles
 */
.header {
	background: $white;
	position: fixed;
	top: 0;
	height: $header-height;
	width: 100%;
	z-index: 200;

	.svg {
		&.logo---sm {
			position: relative;
			height: $header-height - ($spacing-sm * 2);
			top: $spacing-sm;
		}
	}

	.header___logo,
	.header___nav {
		height: $header-height;
	}

	.header___logo {
		padding: 0 $spacing-sm 0 0;
		display: inline-block;

		&:active {
			background: rgba($black, 0.1);
		}
	}

	.header___icon {
		font-size: 1.5em;
		display: block;
		float: left;
		height: $header-height;
		line-height: $header-height;
		padding: 0 $spacing-sm;
		color: $tertiary-color;

		&:active {
			background: rgba($black, 0.1);
			color: darken($tertiary-color, 10%);
		}
	}

	.header___nav {
		float: right;
		line-height: $header-height;
		position: relative;
	}

	.header___nav-right {
		@include transition(all 0.2s ease-in-out);
		@include transform(scale3d(0, 0, 1));
		@include transform-origin(top right);
		@include card(3);
		position: absolute;
		top: $spacing-sm;
		right: $spacing-sm;
		background: white;
		width: 300px;

		&.header___nav-right---visible {
			@include transform(scale3d(1, 1, 1));
		}
	}
}
