<template name="drawer">
	<div class="drawer___trigger"></div>
	<div class="drawer">
		<div class="drawer___content">
			<div class="ratio ratio---16-9 ratio---bg">
				<div class="ratio___content padding---x">
					<h3>Profile stuff here</h3>
				</div>
			</div>

			<ul class="list">
				<li class="list___item list___item---link">
					<a href="{{pathFor "accountIndex"}}">Account</a>
				</li>
				<li class="list___item list___item---link">
					<a href="{{pathFor "infoHelp"}}">Help</a>
				</li>
			</ul>
		</div>
	</div>
</template>
