<template name="header">
	<header class="header {{#if nav}}nav{{/if}}">

		{{#if btnBack}}
			<a href="#" class="header__icon header--btn-back">
				<i class="ion ion-chevron-left"></i>
			</a>
		{{else}}
			<a href="#" class="header__icon header--btn-drawer">
				<i class="ion ion-android-menu"></i>
			</a>
		{{/if}}

		{{#if title}}
			<h3 class="header__title">
				{{title}}
			</h3>
		{{else}}
			<a href="{{pathFor 'index'}}" class="header__logo">
				{{> svgLogoSm}}
			</a>
		{{/if}}
		{{#if currentUser}}
			<div class="header__nav">
				<a href="#" class="header__icon header--search">
					<i class="ion ion-search"></i>
				</a>
				<a href="#" class="header__icon header--btn-menu">
					<i class="ion ion-android-more-vertical"></i>
				</a>
			</div>

			<div class="header__menu {{#if menuVisible}}header__menu--visible{{/if}}">
				<ul class="list">
					<li class="list__item list__item--link">
						<a href="{{pathFor "infoFeedback"}}">Feedback</a>
					</li>
					<li class="list__item list__item--link">
						<a href="{{pathFor "infoHelp"}}">Help</a>
					</li>
				</ul>
			</div>
		{{/if}}

		{{#if nav}}
			<nav class="nav nav--header">
				{{#each nav}}
					<a href="{{pathFor path}}" class="{{#if isActiveTemplate path}}active{{/if}}">
						{{title}}
					</a>
				{{/each}}
			</nav>
		{{/if}}
	</header>
</template>
