<template name="index">
	<div class="page index">

		<div class="ratio ratio--16-9 ratio--bg">
			<div class="ratio__content padding--x">
				{{> svgLogo}}
			</div>
		</div>

		<div class="padding">

			<div class="row">
				<div class="sign-in__col">
					<a href="#" class="btn btn-block btn--facebook" data-trigger="facebook">
						<i class="ion ion-social-facebook"></i>
					</a>
				</div>
				<div class="sign-in__col">
					<a href="#" class="btn btn-block btn--twitter" data-trigger="twitter">
						<i class="ion ion-social-twitter"></i>
					</a>
				</div>
			</div>

			<div class="divider divider--bottom"><span>or</span></div>

			<form class="form" novalidate>

				<div class="form__group form__group--collapsible" data-disabled="{{nameDisabled}}">
					<input type="text" name="name" placeholder="Name" class="form__group__input" disabled="{{nameDisabled}}"/>
				</div>

				<!-- Register and forgot password-->
				<div class="form__group form__group--collapsible" data-disabled="{{emailDisabled}}">
					<input type="email" name="email" placeholder="Email" class="form__group__input" disabled="{{emailDisabled}}"/>
				</div>
				<!-- Register and Sign in -->
				<div class="form__group form__group--collapsible" data-disabled="{{passwordDisabled}}">
					<input type="password" name="password" placeholder="Password" class="form__group__input" disabled="{{passwordDisabled}}"/>
				</div>

				<div class="padding--y">
					<button type="submit" class="btn btn-block btn-primary">
						{{submitButtonString}}
					</button>
				</div>
			</form>

		</div>

		<footer class="footer footer--text">
			<div class="padding--x">
				<div class="row">
					<div class="footer-col">
						<a href="#" data-trigger="sign-up">
							{{#if signUp}}
								Nevermind, Sign In
							{{else}}
								Create an account
							{{/if}}
						</a>
					</div>
					<div class="footer-col">
						{{#if signUp}}
							<a href="{{pathFor 'infoTermsOfService'}}" class="text-tertiary">
								Terms of Service
							</a>
						{{else}}
							<a href="#" class="text-secondary" data-trigger="forgot-password">
								{{#if forgotPassword}}
									Nevermind, Sign In
								{{else}}
									Forgot password
								{{/if}}
							</a>
						{{/if}}
					</div>
				</div>
			</div>
		</footer>

	</div>
</template>
